In [127]:
#Import dependencies
import pandas as pd
import numpy as np

In [128]:
#Establish original dataframe
original_df = pd.read_json("purchase_data.json")
original_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [129]:
#Find total number of players. Some occur repeatedly. Filtering out duplicate players
totalplayers = len(original_df["SN"].value_counts())
totalplayer_df = pd.DataFrame([{"Total Players": totalplayers}])
totalplayer_df.head()

   Total Players
0            573

In [130]:
#PURCHASING ANALYSIS (TOTAL)
# Number of unique items
unique_items = len(original_df["Item Name"].value_counts())

#Average Purchase Price
mean_price = original_df["Price"].mean()

#Total Number of Purchases
total_purch = len(original_df)

#Total Revenue
pricelist = original_df["Price"].tolist()
totalrev= sum(pricelist)

purch_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                                 "Average Price": [mean_price],
                                  "Number of Purchases": [total_purch],
                                  "Total Revenue": [totalrev]})
purch_analysis_df = purch_analysis_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
purch_analysis_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       2.931192                  780        2286.33

In [131]:
#GENDER DEMOGRAPHICS

#Total players = 573
#Remove duplicate players
gender_df = original_df.drop_duplicates(["SN"])
#Males
total_male = gender_df.loc[gender_df.Gender == 'Male', 'Gender'].count()
male_perc = total_male/totalplayers*100
#Females
total_female = gender_df.loc[gender_df.Gender == 'Female', 'Gender'].count()
female_perc = total_female/totalplayers*100
#Other
total_other = totalplayers - total_male - total_female
other_perc = total_other/totalplayers*100

gen_demo_df = pd.DataFrame({"Percentage of Players": [male_perc, female_perc, other_perc],
                           "Total Count":[total_male, total_female, total_other]},index=["Male","Female","Other"])

gen_demo_df.head()

        Percentage of Players  Total Count
Male                81.151832          465
Female              17.452007          100
Other                1.396161            8

In [132]:
#PURCHASING ANALYSIS (GENDER)
#separate dataframes by gender
male_df = original_df.loc[original_df["Gender"] == 'Male',:]
female_df = original_df.loc[original_df["Gender"]=='Female',:]
other_df = original_df.loc[original_df["Gender"] != "Male",:]
other_df = other_df.loc[other_df["Gender"]!= "Female",:]
#Purchase count, avg purch val, total purch val, normalized totals
    #Male
male_purch_count = len(male_df)
male_avg_val = male_df["Price"].mean()
male_tot_val = male_df["Price"].sum()
    #Female
female_purch_count = len(female_df)
female_avg_val = female_df["Price"].mean()
female_tot_val = female_df['Price'].sum()
    #Other
other_purch_count = len(other_df)
other_avg_val = other_df["Price"].mean()
other_tot_val = other_df["Price"].sum()

gender_purch_df = pd.DataFrame({"Purchase Count":[male_purch_count, female_purch_count, other_purch_count],
                               'Average Purchase Price': [male_avg_val, female_avg_val, other_avg_val],
                               'Total Purchase Value': [male_tot_val, female_tot_val, other_tot_val]}, index=['Male','Female','Other/Non-Disclosed'])
gender_purch_df = gender_purch_df[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
gender_purch_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value
Male,633,2.950521,1867.68
Female,136,2.815515,382.91
Other/Non-Disclosed,11,3.249091,35.74

In [133]:
#AGE DEMOGRAPHICS
#bins
bins = [0,10,14,18,22,26,30,34,38,42,46]
#bin names
bin_names = ['0-10','10-14','14-18','18-22','22-26','26-30',
             '30-34','34-38','38-42','42-46']
#cut into bins
age_df = original_df

age_df["Age Group"] = pd.cut(original_df['Age'],bins, labels = bin_names)
#group by bins
age_groups= age_df.groupby(["Age Group"])
age_groups.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,34-38
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,18-22
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,18-22
4,23,Male,63,Stormfury Mace,1.27,Aela59,22-26
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,18-22
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,18-22
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,26-30
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,22-26
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30-34
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,22-26
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,18-22
12,30,Male,81,Dreamkiss,4.06,Iskossa88,26-30
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,22-26
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,38-42
18,28,Male,91,Celeste,3.71,Iskista88,26-30
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30-34
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,22-26
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,14-18
22,11,Female,11,Brimstone,2.52,Deural48,10-14
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10-14
26,29,Male,132,Persuasion,3.90,Aerithllora36,26-30
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,30-34
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,14-18
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,14-18
31,18,Male,37,"Shadow Strike, Glory of Ending Hope",1.93,Iarilis73,14-18
37,31,Male,171,Scalpel,3.62,Sondossa91,30-34
46,11,Male,17,"Lazarus, Terror of the Earth",3.47,Palatyon26,10-14
51,16,Male,169,"Interrogator, Blood Blade of the Queen",3.32,Reula64,14-18
68,11,Male,38,"The Void, Vengeance of Dark Magic",2.82,Qarwen67,10-14
70,7,Female,158,"Darkheart, Butcher of the Champion",3.56,Eosurdru76,0-10
79,29,Male,144,Blood Infused Guardian,2.86,Undirrala66,26-30
81,38,Male,175,Woeful Adamantite Claymore,1.24,Yaristi64,34-38
106,37,Female,174,Primitive Blade,2.46,Chadossa56,34-38
117,11,Male,160,Azurewrath,2.22,Qarwen67,10-14
121,7,Male,175,Woeful Adamantite Claymore,1.24,Lassjask63,0-10
125,7,Female,10,Sleepwalker,1.73,Heosurnuru52,0-10
170,9,Male,71,Demise,4.07,Reulae52,0-10
175,35,Male,34,Retribution Axe,4.14,Raillydeu47,34-38
179,40,Male,70,Hope's End,3.89,Chanosiaya39,38-42
186,40,Male,144,Blood Infused Guardian,2.86,Chanosiaya39,38-42
189,35,Male,179,"Wolf, Promise of the Moonwalker",1.88,Raillydeu47,34-38
212,40,Male,111,Misery's End,2.91,Yarmol79,38-42
237,7,Male,121,Massacre,3.42,Lisistaya47,0-10
238,40,Female,49,"The Oculus, Token of Lost Worlds",4.23,Chamadar27,38-42
264,45,Male,124,Venom Claymore,2.72,Marassaya49,42-46
644,43,Male,57,"Despair, Favor of Due Diligence",3.81,Raesurdil91,42-46

In [134]:
#age demos df established. Get values
#new df's by bin
bin_0_10_df =age_df.loc[age_df['Age Group']=='0-10']
bin_10_14_df = age_df.loc[age_df['Age Group']=='10-14']
bin_14_18_df = age_df.loc[age_df['Age Group']=='14-18']
bin_18_22_df = age_df.loc[age_df['Age Group']=='18-22']
bin_22_26_df = age_df.loc[age_df['Age Group']=='22-26']
bin_26_30_df = age_df.loc[age_df['Age Group']=='26-30']
bin_30_34_df = age_df.loc[age_df['Age Group']=='30-34']
bin_34_38_df = age_df.loc[age_df['Age Group']=='34-38']
bin_38_42_df = age_df.loc[age_df['Age Group']=='38-42']
bin_42_46_df = age_df.loc[age_df['Age Group']=='42-46']
bin_df_list = [bin_0_10_df, bin_10_14_df, bin_14_18_df, bin_18_22_df, bin_22_26_df,
              bin_26_30_df, bin_30_34_df, bin_34_38_df, bin_38_42_df, bin_42_46_df]
bin_df_names = ['0-10','10-14','14-18','18-22','22-26',
                '26-30','30-34','34-38','38-42','42-46']

#calculations
purc_count_list = []
avg_purc_list =[]
total_purc_list = []
for df in bin_df_list:
    purc_count = len(df)
    purc_count_list.append(purc_count)
    avg_purc_price = df['Price'].mean()
    avg_purc_list.append(avg_purc_price)
    total_purc_val = df['Price'].sum()
    total_purc_list.append(total_purc_val)

#new df by bin
age_breakdown_df = pd.DataFrame(list(zip(bin_df_names, purc_count_list, 
                      avg_purc_list, total_purc_list)),
              columns=['Age Group','Total Purchases','Average Purchase Price',
                       'Total Purchase Value'])
age_breakdown_df.round(decimals=2)

  Age Group  Total Purchases  Average Purchase Price  Total Purchase Value
0      0-10               32                    3.02                 96.62
1     10-14               31                    2.70                 83.79
2     14-18              111                    2.88                319.32
3     18-22              231                    2.93                676.20
4     22-26              207                    2.94                608.02
5     26-30               63                    2.98                187.99
6     30-34               46                    3.07                141.24
7     34-38               37                    2.81                104.06
8     38-42               20                    3.13                 62.56
9     42-46                2                    3.26                  6.53

In [135]:
#MOST POPULAR ITEMS
''' Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value
'''
pop_id_list = original_df['Item ID'].value_counts().index.tolist()
pop_name_list = original_df['Item Name'].value_counts().index.tolist()
pop_count_list = original_df['Item ID'].value_counts().tolist()
pop_price_list = original_df['Price'].value_counts().index.tolist()

popular_df = pd.DataFrame({"Item ID": [pop_id_list[0],pop_id_list[1],pop_id_list[2],pop_id_list[3],pop_id_list[4]],
                          "Item Name":[pop_name_list[0],pop_name_list[1],pop_name_list[2],pop_name_list[3],pop_name_list[4]],
                          "Purchase Count":[pop_count_list[0],pop_count_list[1],pop_count_list[2],pop_count_list[3],pop_count_list[4]],
                          "Item Price":[pop_price_list[0],pop_price_list[1],pop_price_list[2],pop_price_list[3],pop_price_list[4]],
                         })
popular_df["Total Purchase Value"]= popular_df['Item Price'] * popular_df['Purchase Count']
    
popular_df.head()

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase Value
0,84,Final Critic,2.46,11,27.06
1,39,"Betrayal, Whisper of Grieving Widows",1.03,11,11.33
2,31,Arcane Gem,1.36,9,12.24
3,34,Stormcaller,2.23,9,20.07
4,175,Serenity,1.88,9,16.92

In [136]:
#MOST PROFITABLE ITEMS
'''Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value'''

profit_df = original_df.sort_values("Price", ascending=False)
sorted_profit_df = pd.merge(popular_df, profit_df, on="Item Name")
sorted_profit_df.drop(["Gender", "Item ID_y", "Price", 'SN', 'Age Group', "Age"], axis=1, inplace=True)
sorted_profit_df.rename(columns={'Item ID_x': 'Item ID'}, inplace=True)
sorted_profit_df = sorted_profit_df.sort_values('Total Purchase Value', ascending=False)
sorted_profit_df.drop_duplicates(['Item ID'], inplace=True)
sorted_proft_df=sorted_profit_df[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]
sorted_profit_df.head()

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase Value
0,84,Final Critic,2.46,11,27.06
45,34,Stormcaller,2.23,9,20.07
46,175,Serenity,1.88,9,16.92
33,31,Arcane Gem,1.36,9,12.24
24,39,"Betrayal, Whisper of Grieving Widows",1.03,11,11.33